---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro';
import Questions from '../components/Questions.svelte';

const title = 'Go CS-9012';
const courseId = 3
const details = 'Go CS-9012 Course Section';
const img =
  'https://craftypixels.com/placeholder-image/200x80/00ccff/ffffff&text=Go+CS-9012';
const slug = 'go-cs-9012';
---

<Layout title={`Questions & Answers | ${title}`}>
  <div class="container mt-3">
    <Course
      courseId={courseId}
      courseTitle={title}
      courseDetails={details}
      courseImg={img}
      courseSlug={slug}
    />
    <Questions courseId={courseId} title={title}  client:only={'svelte'} />
  </div>
</Layout>
