---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro';
import Questions from '../components/Questions.svelte';

const title = 'Java CS-3456';
const courseId = 2;
const details = 'Java CS-3456 Course Section';
const img =
  'https://craftypixels.com/placeholder-image/200x80/ff8c1a/ffffff&text=Java+CS-3456';
const slug = 'java-cs-3456';
---

<Layout title={title}>
  <div class="container mt-3">
    <Course
      courseId={courseId}
      courseTitle={title}
      courseDetails={details}
      courseImg={img}
      courseSlug={slug}
    />
    <Questions courseId={courseId} title={title} client:only={'svelte'} />
  </div>
</Layout>

