---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro';
import Questions from '../components/Questions.svelte';

const title = "Python CS-5678"
const courseId = 4;
const details = 'Python CS-5678 Course Section'
const img =
 'https://craftypixels.com/placeholder-image/200x80/0099cc/ffffff&text=Python+CS-5678'
const slug = 'python-cs-5678';
---

<Layout title={`Questions & Answers | ${title}`}>
  <div class="container mt-3">
    <Course
      courseId={courseId}
      courseTitle={title}
      courseDetails={details}
      courseImg={img}
      courseSlug={slug}
    />
    <Questions courseId={courseId} title={title} client:only={'svelte'} />
  </div>
</Layout>
