---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro';
import Questions from '../components/Questions.svelte';

const title = 'SQL CS-6634';
const courseId = 5;
const details = 'SQL CS-6634 Course Section';
const img =
  'https://craftypixels.com/placeholder-image/200x80/b3cbcb/595959&text=SQL+CS-6634';
const slug = 'sql-cs-6634';
const qa_url = import.meta.env.QA_API_BASE_URL
---

<Layout title={`Questions & Answers | ${title}`}>
  <div class="container mt-3">
    <Course
      courseId={courseId}
      courseTitle={title}
      courseDetails={details}
      courseImg={img}
      courseSlug={slug}
    />
    <Questions courseId={courseId} title={title} qa_url={qa_url} client:only={'svelte'} />
  </div>
</Layout>

