---
const courseId = Astro.props.courseId;
const courseTitle = Astro.props.courseTitle;
const courseDetails = Astro.props.courseDetails;
const courseSlug = Astro.props.courseSlug;
const courseImg = Astro.props.courseImg;
---

<div class="grid mb-3">
  <div class="mb-1">
    <p class="mb-2">Course ID: {courseId}</p>
    <img
      class="object-cover shadow-lg"
      src={courseImg}
      alt={`Image for course ${courseTitle}`}
    />
  </div>
  <div>
    <h2 class="text-l font-bold leading-7 text-gray-700">
      Title: {courseTitle}
    </h2>

    <p>Description: {courseDetails}</p>
  </div>
</div>
