---
const courseId = Astro.props.courseId;
const courseTitle = Astro.props.courseTitle;
const courseDetails = Astro.props.courseDetails;
const courseSlug = Astro.props.courseSlug;
const courseImg = Astro.props.courseImg;
---

<div class="grid mb-3">
  <div class="mb-1">
    <p class="mb-2 text-slate-400">Course ID: {courseId}</p>
    <a href="/">
      <img
        class="object-cover shadow-lg"
        src={courseImg}
        alt={`Image for course ${courseTitle}`}
      />
    </a>
  </div>
  <div>
    <h2 class="text-l font-bold leading-7 text-gray-700">
      Course: {courseTitle}
    </h2>

    <p class="text-slate-400">{courseDetails}</p>
  </div>
</div>
